@model IEnumerable<Garage2.Vehicle>
@{
    ViewBag.Title = "Parkeringsöversikt";
}
<p>
</p>
@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "vehicleList"
    }))
{
    <label for="vehiclefilter" class="control-label">Filtrera: </label>
    <input id="vehiclefilter" type="search" name="filter" class="form-control" />
    <p></p>
    @Html.Partial("_Vehicles", Model)
}
<p>
    <a href="@Url.Action("Park")" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalContainer">Parkera fordon</a>
</p>
<div id="modalContainer" class="modal" tabindex="-1" role="dialog">
    <div id="popupContent" class="modal-content">
    </div>
</div>