.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
}

.dl-horizontal dd {
    margin-left: 180px;
}

dt.cost {
    border-top: 3px solid black;
    margin-top: 20px;
}

dd.cost {
    margin-left: 160px;
    padding-left: 20px;
    border-top: 3px solid black;
    margin-top: 20px;
    font-weight: bold;
}

@media print {
    .dl-horizontal {
        font-size: 1.5em;
    }

    .receipthide {
        display: none;
    }

    footer {
        display: none;
    }
}